# We include this npmignore even though we use files in package.json
# Because of this problem: https://github.com/npm/cli/issues/321#issuecomment-582910140

# Folders
.vscode
bin
coverage
dist
examples
obj
publish
src

# Files
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.prettierignore
.prettierrc
.stylelintrc
babel.config.js
bash.*
jest.config.js
*.csproj
webpack.config.*
