@import '~@nice-digital/nds-core/scss/core';

// TODO: Remove this override when the design system is rolled out everywhere
$nds-colour-body: $nds-colour-true-white;

$sub-nav-height: $nds-spacing-x-large;

$nds-colour-nav-background: $nds-colour-nice-teal;
$nds-colour-nav-text: $nds-colour-text-inverse;

$search-height: 40;
