@import '~@nice-digital/nds-core/scss/core';

// TODO: Remove this override when the design system is rolled out everywhere
$colour-body: $colour-true-white;

$sub-nav-height: $spacing-x-large;

$colour-nav-background: $colour-nice-teal;
$colour-nav-text: $colour-text-inverse;

$search-height: 40;
