@import '~@nice-digital/design-system/src/stylesheets/settings/settings';
@import 'mq';

.header {
  font-family: unquote($nice-font-family-sans);
}

.mobileMenuBtn {
  appearance: none;
  background: none;
  border: 0;

  @include mq($from: md) {
    display: none;
  }
}
