@use 'sass:math';
@use '../styles/global-nav-colours' as *;
@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';

@use 'header-settings';

.header {
  background: $header-background;
  border-bottom: utils.rem(spacing.$xx-small) solid $header-border;
  box-sizing: border-box;
  font-family: typography.get-font-family(sans);
  position: relative;
  z-index: header-settings.$base-z-index;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    font-family: inherit;
  }

  @media print {
    border-bottom: none;
  }
}

.container {
  @include layout.container;
  padding: utils.rem(spacing.$medium 0 0 0);

  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.home {
  @include visibility.remove-appended-print-link;
  color: colours.$text;
  display: inline-block;
  float: left;
  height: utils.rem(30);
  margin-bottom: utils.rem(spacing.$medium);

  &:focus {
    @include focus.default-focus-style;
  }

  &:visited {
    color: colours.$text;
  }

  .icon {
    height: 100%;
    width: auto;
  }
}

.wrapper {
  @include visibility.hide-print;
  display: flex;
  flex-grow: 1;
  float: right;
  justify-content: space-between;
  margin-bottom: utils.rem(spacing.$medium);
  width: 50%;

  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.search {
  flex-grow: 1;
  float: left;
  margin-right: utils.rem(spacing.$medium);
  min-width: math.percentage(math.div(2, 3));
}

.mobileMenuBtn {
  appearance: none;
  background: none;
  border: 1px solid $mobile-menu-btn-text;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: 110%;
  height: utils.rem(header-settings.$search-height);
  min-width: utils.rem(75); // Stops width changing when button text changes
  white-space: nowrap;

  &:after {
    border-left: utils.rem(spacing.$x-small) solid transparent;
    border-right: utils.rem(spacing.$x-small) solid transparent;
    border-top: utils.rem(spacing.$small) solid $mobile-menu-btn-border;
    content: '';
    display: inline-block;
    height: 0;
    margin-left: utils.rem(spacing.$small);
    vertical-align: middle;
    width: 0;
  }

  &[aria-expanded='true']:after {
    border-bottom: utils.rem(spacing.$small) solid $mobile-menu-btn-text;
    border-top: 0;
  }
}

.account {
  display: none;
}

@include media-queries.mq($until: md) {
  .home {
    float: none;
  }

  .wrapper {
    float: none;
    width: auto;
  }
}

@include media-queries.mq($from: md) {
  .scrim {
    background: rgba(0 0 0 / 70%);
    display: block;
    left: 0;
    min-height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: header-settings.$base-z-index;
  }

  .header {
    border-bottom: utils.rem(spacing.$x-small) solid $body;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .home {
    height: utils.rem(header-settings.$search-height);
    margin-right: utils.rem(spacing.$large);
  }

  .wrapper {
    justify-content: flex-end;
  }

  .search {
    margin-right: utils.rem(spacing.$large);
  }

  .mobileMenuBtn {
    display: none;
  }

  .account {
    display: block;
  }
}

.a11yLinks {
  @include visibility.hide-print;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
  }
}
