@import 'header-settings';

.header {
  background: $nds-colour-nice-white;
  border-bottom: rem($nds-spacing-xx-small) solid $nds-colour-nice-teal;
  box-sizing: border-box;
  font-family: unquote($nds-font-family-sans);

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    font-family: inherit;
  }

  @media print {
    border-bottom: none;
  }
}

.container {
  @include nds-container;
  padding: rem($nds-spacing-medium 0 0 0);

  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.home {
  @include nds-remove-appended-print-link;
  color: $nds-colour-true-black;
  display: inline-block;
  float: left;
  height: rem(30);
  margin-bottom: rem($nds-spacing-medium);

  &:focus {
    @include nds-default-focus-style;
  }

  &:visited {
    color: $nds-colour-true-black;
  }

  .icon {
    height: 100%;
    width: auto;
  }
}

.wrapper {
  @include nds-hide-print;
  display: flex;
  flex-grow: 1;
  float: right;
  justify-content: space-between;
  margin-bottom: rem($nds-spacing-medium);
  width: 50%;

  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.search {
  flex-grow: 1;
  float: left;
  margin-right: rem($nds-spacing-medium);
  min-width: percentage(2 / 3);
}

.mobileMenuBtn {
  appearance: none;
  background: none;
  border: 1px solid $nds-colour-text;
  float: right;
  font-family: inherit;
  font-size: 110%;
  height: rem($search-height);
  min-width: rem(75); // Stops width changing when button text changes
  white-space: nowrap;

  &:after {
    border-left: rem($nds-spacing-x-small) solid transparent;
    border-right: rem($nds-spacing-x-small) solid transparent;
    border-top: rem($nds-spacing-small) solid $nds-colour-nice-dark-grey;
    //border-color: $nds-colour-text transparent transparent transparent;
    //border-style: solid;
    //border-width: 8px 5px 0 5px;
    content: '';
    display: inline-block;
    height: 0;
    margin-left: rem($nds-spacing-small);
    vertical-align: middle;
    width: 0;
  }

  &[aria-expanded='true']:after {
    border-bottom: rem($nds-spacing-small) solid $nds-colour-text;
    border-top: 0;
  }
}

.account {
  display: none;
}

@include mq($until: md) {
  .home {
    float: none;
  }

  .wrapper {
    float: none;
    width: auto;
  }
}

@include mq($from: md) {
  .header {
    border-bottom: rem($nds-spacing-x-small) solid $nds-colour-body;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .home {
    height: rem($search-height);
    margin-right: rem($nds-spacing-large);
  }

  .wrapper {
    justify-content: flex-end;
  }

  .search {
    margin-right: rem($nds-spacing-large);
  }

  .mobileMenuBtn {
    display: none;
  }

  .account {
    display: block;
  }
}
