/* stylelint-disable no-descending-specificity */

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';
@use '../header-settings';
@use '../../Common.module.scss';

.wrapper {
  @include visibility.hide-print;
  display: none;
  position: relative;

  @include media-queries.mq($from: md) {
    display: block;
  }
}

.wrapperExpanded {
  display: block;
}

.nav {
  abbr[title] {
    border-bottom: 0;
    cursor: help;
    text-decoration: none;
  }
}

.myAccount {
  border-top: 1px solid colours.$nice-white;

  @include media-queries.mq($from: md) {
    display: none;
  }
}

.myAccountHeading {
  border: utils.rem(spacing.$x-small) solid
    header-settings.$colour-nav-background;
  font-size: 100%;
  margin: 0;
  padding: utils.rem(spacing.$small spacing.$medium);
}

.menuWrapper {
  background: header-settings.$colour-nav-background;
  color: header-settings.$colour-nav-text;
  // padding: utils.rem(spacing.$x-small 0);
}

@include media-queries.mq($from: md) {
  .wrapperWithSubLinks {
    padding-bottom: utils.rem(header-settings.$sub-nav-height);
  }
}

.menuList {
  list-style: none;
  margin: auto;

  > li {
    margin: 0;
    @include media-queries.mq($from: md) {
      flex-grow: 1;
    }
  }
  @include media-queries.mq($from: md) {
    @include layout.container;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

a.link,
.linkStyling {
  //qualified this with 'a' and 'button' to add specificity to avoid overrides from application css (NW-1253)
  align-items: center;
  background: none;
  border: utils.rem(spacing.$x-small) solid
    header-settings.$colour-nav-background;
  border-left-width: 0;
  border-radius: 0;
  border-right-width: 0;
  color: header-settings.$colour-nav-text;
  cursor: pointer;
  display: flex;
  font-weight: normal;
  height: 100%;
  justify-content: left;
  line-height: 1.25;
  margin-bottom: 0;
  padding: utils.rem(spacing.$small);
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:focus {
    color: header-settings.$colour-nav-text;
    outline: utils.rem(spacing.$x-small) solid colours.$focus-inverse;
    outline-offset: utils.rem(-(spacing.$small));
    z-index: header-settings.$base-z-index + 1; // Push above the adjacent nav items
  }

  &:active,
  &:hover {
    background: colours.$nice-grey-3;
    color: colours.$text;
    text-decoration: underline;
  }

  &[aria-current='true'],
  &[aria-current='page'],
  &[aria-expanded='true'] {
    background: colours.$body;
    border-bottom: utils.rem(spacing.$x-small) solid colours.$body;
    color: colours.$text;

    &:focus {
      outline-color: colours.$focus;
      outline-offset: utils.rem(-(spacing.$small));
    }
  }

  @include media-queries.mq($from: md) {
    justify-content: space-evenly;
    padding: utils.rem(spacing.$medium);
    text-align: left;
  }
}
