/* stylelint-disable no-descending-specificity */

@import '../header-settings';
@import '../../Common.module.scss';

.wrapper {
  @include nds-hide-print;
  display: none;
  position: relative;

  @include mq($from: md) {
    display: block;
  }
}

.wrapperExpanded {
  display: block;
}

.nav {
  abbr[title] {
    border-bottom: 0;
    cursor: help;
    text-decoration: none;
  }
}

.myAccount {
  border-top: 1px solid $nds-colour-nice-white;

  @include mq($from: md) {
    display: none;
  }
}

.myAccountHeading {
  border: rem($nds-spacing-x-small) solid $colour-nav-background;
  font-size: 100%;
  margin: 0;
  padding: rem($nds-spacing-small $nds-spacing-medium);
}

.menuWrapper {
  background: $colour-nav-background;
  color: $colour-nav-text;
  padding: rem($nds-spacing-x-small 0);
}

@include mq($from: md) {
  .wrapperWithSubLinks {
    padding-bottom: rem($sub-nav-height);
  }
}
