.wrapper {
  margin: rem(0 0 $spacing-medium);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: rem(0 0 $spacing-x-small);
  }
}

@include mq($from: xs) {
  .list {
    column-count: 2;
    column-gap: rem($spacing-medium);
  }
}

@include mq($from: md) {
  .wrapper {
    float: left;
    margin: 0;
    padding: rem(0 $spacing-large);
    width: 50%;
  }

  .list {
    column-count: 2;
    column-gap: rem($spacing-medium);
  }
}
