@import '~@nice-digital/nds-core/scss/core';

.link {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;

  &:focus {
    background: #fff;
    clip: auto;
    color: $nds-colour-link;
    display: block;
    height: auto;
    left: rem($nds-spacing-x-small);
    outline: 3px solid $nds-colour-focus;
    overflow: visible;
    padding: rem($nds-spacing-small $nds-spacing-medium);
    position: absolute;
    top: rem($nds-spacing-x-small);
    white-space: nowrap;
    width: auto;
    z-index: 101;
  }
}
