@import '../header-settings';

.search {
  margin: 0;
  padding-right: rem($search-height);
  position: relative;
}

.label {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  // TO DO: Replace with design system invisible mixin when available
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.button {
  background: $colour-nice-dark-grey;
  border: 0;
  color: $colour-text-inverse;
  cursor: pointer;
  height: rem($search-height);
  min-width: rem($search-height);
  padding: rem(0 $spacing-small);
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 101; // To sit above the search box so the focus outline surrounds the button

  &:focus {
    @include default-focus-style;
  }

  .icon {
    font-size: 150%;
    vertical-align: middle;
  }
}
