@use 'global-nav-colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '../header-settings';

.search {
  margin: 0;
  padding-right: utils.rem(header-settings.$search-height);
  position: relative;
}

.label {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  // TO DO: Replace with design system invisible mixin when available
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.button {
  background: global-nav-colours.$search-button-background;
  border: 0;
  color: global-nav-colours.$search-button-text;
  cursor: pointer;
  height: utils.rem(header-settings.$search-height);
  min-width: utils.rem(header-settings.$search-height);
  padding: utils.rem(0 spacing.$small);
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: header-settings.$base-z-index + 2; // To sit above the search box so the focus outline surrounds the button

  &:focus {
    @include focus.default-focus-style;
  }

  .icon {
    font-size: 150%;
    vertical-align: middle;
  }
}
