@import '../header-settings';

.search {
  margin: 0;
  padding-right: rem($search-height);
  position: relative;
}

.label {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  // TO DO: Replace with design system invisible mixin when available
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.button {
  background: $nds-colour-nice-dark-grey;
  border: 0;
  color: $nds-colour-text-inverse;
  cursor: pointer;
  height: rem($search-height);
  min-width: rem($search-height);
  padding: rem(0 $nds-spacing-small);
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 101; // To sit above the search box so the focus outline surrounds the button

  &:focus {
    @include nds-default-focus-style;
  }

  .icon {
    font-size: 150%;
    vertical-align: middle;
  }
}

.link {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;

  &:focus {
    background: #fff;
    clip: auto;
    color: $nds-colour-link;
    display: block;
    height: auto;
    outline: 3px solid $nds-colour-focus;
    overflow: visible;
    padding: rem($nds-spacing-small $nds-spacing-medium);
    position: absolute;
    right: 0;
    top: -(rem($nds-spacing-xx-small));
    white-space: nowrap;
    width: auto;
    z-index: 101;
  }
}
