<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>
			<%= htmlWebpackPlugin.options.title %> | Global nav test site | NICE
		</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, minimal-ui"
		/>
	</head>
	<body class="<%= bodyClasses %>">
		<div id="global-nav-header"></div>
		<%= body %>
		<div id="global-nav-footer"></div>
		<script src="//cdn.nice.org.uk/cookie-banner/cookie-banner.min.js"></script>
		<script type="text/javascript">
			var global_nav_config = <%= typeof global_nav_config === "string"? global_nav_config : JSON.stringify(global_nav_config) %>;
		</script>
	</body>
</html>
