<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Global Nav Test Site</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, minimal-ui"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lora:ital,wght@0,600;1,600&display=swap"
			rel="stylesheet"
		/>
		<link
			href="//alpha-cdn.nice.org.uk/niceorg/css/app.min.css"
			rel="stylesheet"
			type="text/css"
		/>
	</head>
	<body>
		<div id="global-nav-header"></div>

		<main class="container">
			<div class="page-header mt--e">
				<h1 class="page-header__heading">Global navigation test</h1>
				<p class="page-header__lead">
					Test site for the NICE global navigation (header and footer).
				</p>
			</div>

			<h2>Example pages</h2>
			<p>The following example pages are available for testing:</p>
			<ul>
				<% for (var example in examples) { %>
				<li>
					<a href="<%= examples[example].filename %>.html">
						<%= examples[example].title %>
					</a>
				</li>
				<% } %>
			</ul>

			<h2>Cookies</h2>
			<p>
				Use the following button to clear the
				<em>CookieControl</em> message:
			</p>
			<button
				type="button"
				class="btn"
				onclick="document.cookie = 'CookieControl=; expires=Thu, 01 Jan 1970 00:00:00 GMT;domain=' + (window.location.hostname.indexOf('nice.org.uk') > 0 ? 'nice.org.uk' : window.location.hostname)"
			>
				Delete CookieControl cookie
			</button>
		</main>

		<div id="global-nav-footer"></div>

		<script
			src="https://cdn.nice.org.uk/cookie-banner/cookie-banner.min.js"
			type="text/javascript"
		></script>
		<script type="text/javascript">
			var global_nav_config = <%= JSON.stringify(global_nav_config) %>;
		</script>
	</body>
</html>
