@import '~@nice-digital/nds-core/scss/core';

.container {
  @include nds-container;
  margin-bottom: rem($nds-spacing-medium);
}

.alert {
  background: $nds-colour-caution-background;
  border: 1px solid $nds-colour-caution;
  margin: rem($nds-spacing-medium) auto 0 auto;
  max-width: rem($nds-container-max-width);
  padding: rem($nds-spacing-medium);

  a {
    @include nds-link-default;
  }

  h2 {
    margin-top: 0;
  }

  h2,
  p {
    max-width: 600px;
  }
}

.lastP {
  margin-bottom: 0;
}
