@import '~@nice-digital/nds-core/scss/core';

// Mostly copied from nds-button

$nds-button-shadow-colour: rgba(0, 0, 0, 20%);
$nds-button-border-radius: em(3px);

.button {
  border: em(1px) solid $nds-colour-btn-primary-text;
  box-shadow: 0 em(3px) em(6px) 0 $nds-button-shadow-colour;
  color: $nds-colour-nice-white !important;
  display: inline-block;
  font-family: inherit;
  margin: em(
    0 $nds-spacing-small $nds-spacing-small -4px
  ); // Negative left margin to combat inline-block gaps
  padding: em($nds-spacing-small $nds-spacing-medium);
  position: relative;
  text-align: left;
  text-decoration: none !important;
  vertical-align: top;
  white-space: nowrap;

  &:visited {
    color: $nds-colour-btn-primary-text;
  }

  &:hover {
    background: $nds-colour-btn-primary-hover;
    box-shadow: 0 em(5px) em(8px) 0 $nds-button-shadow-colour;
    color: $nds-colour-btn-primary-text;
    text-decoration: none;
  }

  &:focus {
    @include nds-default-focus-style;
    background: $nds-colour-btn-primary;
    border-color: $nds-colour-focus-inverse;
    color: $nds-colour-btn-primary-text;
  }

  &:active {
    background: $nds-colour-btn-primary-hover;
    text-decoration: none;
    top: em(2px);
  }
}

.primary {
  background: $nds-colour-btn-primary;
}

.cta {
  background: $nds-colour-btn-cta;
  border: em(1px) solid $nds-colour-btn-cta-text;
  color: $nds-colour-btn-cta-text;

  &:visited {
    color: $nds-colour-btn-cta-text;
  }

  &:hover {
    background: $nds-colour-btn-cta-hover;
    color: $nds-colour-btn-cta-text;
  }

  &:focus {
    background: $nds-colour-btn-cta-hover;
  }

  &:active {
    background: $nds-colour-btn-cta-hover;
  }
}
