@use '../../styles/global-nav-colours' as *;
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';

.wrapper {
  @include typography.font-size(-1);
  background: $legal-background;
  padding: utils.rem(spacing.$medium 0);

  a {
    text-decoration-line: underline;
  }
}

.container {
  @include layout.container;
}

.menu {
  @include visibility.hide-print;
  margin: utils.rem(0 0 spacing.$medium);

  ul {
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding: 0;
  }

  li {
    margin: 0;
  }

  a {
    display: block;
  }
}

.copyright {
  @include typography.font-size(-1);
  margin: 0;
  @media print {
    float: none !important;
    max-width: 100%;
  }
}

.cyberLogo {
  background: transparent;
  border: none;
  height: 137px;
  margin-top: utils.rem(spacing.$medium);
  width: 132px;
}

.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.menuWrapper {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / -1;
  justify-content: space-between;
}

.cyberLogoWrapper {
  display: flex;
  grid-column: span 12;
  justify-content: flex-start;
}

@include media-queries.mq($from: sm) {
  .menu {
    li {
      display: inline-block;
      margin-right: utils.rem(spacing.$medium);
    }
  }
}

@include media-queries.mq($from: md) {
  .layout:has(.cyberLogoWrapper) .menuWrapper {
    display: block;
    grid-column: span 9;
    align-content: center;
  }

  .layout:has(.cyberLogoWrapper) .cyberLogoWrapper {
    display: flex;
    grid-column: span 3;
  }

  .cyberLogo {
    margin-top: 0;
  }
}

@include media-queries.mq($from: lg) {
  .wrapper {
    @include layout.clearfix;
  }
}
