@use '../../styles/global-nav-colours' as *;
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';

.wrapper {
  @include typography.font-size(-1);
  background: $legal-background;
  padding: utils.rem(spacing.$medium 0);

  a {
    text-decoration: underline;
  }
}

.container {
  @include layout.container;
}

.menu {
  @include visibility.hide-print;
  margin: utils.rem(0 0 spacing.$medium);

  ul {
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding: 0;
  }

  li {
    margin: 0;
  }

  a {
    display: block;
  }
}

.copyright {
  @include typography.font-size(-1);
  margin: 0;
  @media print {
    float: none !important;
    max-width: 100%;
  }
}

@include media-queries.mq($from: sm) {
  .menu {
    li {
      display: inline-block;
      margin-right: utils.rem(spacing.$medium);
    }
  }
}

@include media-queries.mq($from: lg) {
  .wrapper {
    @include layout.clearfix;
  }

  .menu {
    float: left;
    margin: 0;
  }

  .copyright {
    float: right;
  }
}
