@import '~@nice-digital/nds-core/scss/core';
@import '../footer-settings';

.wrapper {
  @include nds-font-size(-1);
  background: $nds-colour-nice-dark-grey;
  padding: rem($nds-spacing-medium 0);

  a {
    text-decoration: underline;
  }
}

.container {
  @include nds-container;
}

.menu {
  @include nds-hide-print;
  margin: rem(0 0 $nds-spacing-medium);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
  }

  a {
    display: block;
  }
}

.copyright {
  @include nds-font-size(-1);
  margin: 0;
  @media print {
    float: none !important;
    max-width: 100%;
  }
}

@include mq($from: sm) {
  .menu {
    li {
      display: inline-block;
      margin-right: rem($nds-spacing-medium);
    }
  }
}

@include mq($from: lg) {
  .wrapper {
    @include nds-clearfix;
  }

  .menu {
    float: left;
    margin: 0;
  }

  .copyright {
    float: right;
  }
}
