@import '~@nice-digital/nds-core/scss/core';

.wrapper {
  background: #ffeb3b;
  padding: rem($nds-spacing-small 0);

  p {
    margin-top: 0;
  }

  a {
    @include nds-link-default;
  }

  @media print {
    display: none;
  }
}

.container {
  @include nds-container;

  > :last-child {
    margin-bottom: 0;
  }
}
