@use 'global-nav-colours' as *;
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.wrapper {
  background: $covid-background;
  padding: utils.rem(spacing.$small 0);

  p {
    margin-top: 0;
  }

  a {
    @include typography.link-default;
  }

  @media print {
    display: none;
  }
}

.container {
  @include layout.container;

  > :last-child {
    margin-bottom: 0;
  }
}
