@use 'sass:math';
@use '../../styles/global-nav-colours' as *;
@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '../header-settings';

.account {
  position: relative;
}

.button {
  background: #fff;
  border: 1px solid colours.$text;
  color: colours.$text;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  height: utils.rem(header-settings.$search-height);
  line-height: utils.rem(header-settings.$search-height);
  padding: utils.rem(0 spacing.$small);
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    @include focus.default-focus-style;
  }

  &:visited {
    color: colours.$text;
  }

  &:hover {
    border: 1px solid colours.$text; // NICE.bootstrap removes border on hover by default
  }
}

.myAccount {
  &:after {
    border-left: utils.rem(spacing.$x-small) solid transparent;
    border-right: utils.rem(spacing.$x-small) solid transparent;
    border-top: utils.rem(spacing.$small) solid $account-btn-icon;
    content: '';
    display: inline-block;
    height: 0;
    margin-left: utils.rem(spacing.$small);
    vertical-align: middle;
    width: 0;
  }

  &[aria-expanded='true']:after {
    border-bottom: utils.rem(spacing.$small) solid colours.$text;
    border-top: 0;
  }
}

.menu {
  background: $account-menu-background;
  border: 1px solid $account-menu-border;
  list-style: none;
  margin: utils.rem(spacing.$small + 2px 0 0 0);
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: header-settings.$base-z-index;

  // We move focus when we expand via keyboard navigation
  &:focus {
    @include focus.default-focus-style;
  }

  &[aria-hidden='true'] {
    display: none;
  }

  &:before {
    border-bottom: utils.rem(spacing.$small) solid $account-menu-border;
    border-left: utils.rem(spacing.$x-small) solid transparent;
    border-right: utils.rem(spacing.$x-small) solid transparent;
    bottom: 100%;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: utils.rem(spacing.$medium);
    width: 0;
  }

  &:after {
    border-bottom: utils.rem(math.div(spacing.$small, 1.25)) solid
      $account-menu-background;
    border-left: utils.rem(math.div(spacing.$x-small, 1.25)) solid transparent;
    border-right: utils.rem(math.div(spacing.$x-small, 1.25)) solid transparent;
    bottom: 100%;
    content: '';
    display: block;
    height: 0;
    margin-right: 1px;
    position: absolute;
    right: utils.rem(spacing.$medium);
    width: 0;
  }

  li {
    border-top: 1px solid $account-menu-item-border;
    list-style: none;
    margin: 0;
  }

  span,
  a {
    display: block;
    padding: utils.rem(spacing.$small spacing.$medium);
  }

  a {
    color: colours.$link;
    text-decoration: none;
    white-space: nowrap;

    &:focus {
      @include focus.default-focus-style;
    }

    &:hover {
      background: $account-menu-hover-background;
      text-decoration: underline;
    }
  }
}
