/* stylelint-disable no-descending-specificity */

@import '../../SkipLink/SkipLink.module.scss';

.skiplink {
  @extend .link;
}

.dropdownLeft {
  border-right: solid 1px grey;
  flex: 1;
  padding: 1em;
}

.dropdownRight {
  flex: 4;
  padding: 2em;
}

.exit {
  background: none;
  border: none;
  padding: 2em;
}

// .leftNavLinks {
//   border-bottom: solid 1px grey;
//   list-style-type: none;
//   padding-bottom: 0.5em;
//   padding-top: 0.5em;
// }
