/* stylelint-disable no-descending-specificity */

@use '../../SkipLink/SkipLink.module.scss';

@use '../../../styles/global-nav-colours' as *;
@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.skiplink {
  @extend %link;
}

.skiplink:focus:not(:focus-visible) {
  /* undo all the above focused skiplink styles
       if the button has focus but the browser wouldn't normally
       show default focus styles */
  visibility: hidden;
}

.container {
  @include layout.container;
  color: colours.$text;
  padding-bottom: utils.rem(spacing.$large);
  padding-top: utils.rem(spacing.$large);
  position: relative;

  hr {
    margin-top: 0;
  }
}

.exit {
  display: none;
  @include media-queries.mq($from: md) {
    align-items: center;
    background: none;
    border: none;
    color: colours.$text;
    column-gap: utils.rem(spacing.$small);
    cursor: pointer;
    display: flex;
    padding: utils.rem(spacing.$small);
    position: absolute;
    right: utils.rem(spacing.$medium);
    top: utils.rem(spacing.$medium);

    &:focus {
      outline: utils.rem(spacing.$x-small) solid colours.$focus;
    }

    &:hover {
      color: colours.$text;
    }
  }
}
