@import '~@nice-digital/nds-core/scss/core';
@import '~@nice-digital/nds-core/scss/typography/_typography-helpers';

// This file is here to normalise the appearance of the global nav on pages that also include NICE bootstrap or other conflicting styling

.wrapper {
  h2 {
    @include nds-font-size(h2);
    font-family: unquote($nds-font-family-serif);
    margin-top: 0;
  }

  h3 {
    @include nds-font-size(h4);
    font-family: unquote($nds-font-family-serif);
    margin-top: rem($nds-spacing-large);
  }

  h4 {
    @include nds-font-size(h5);
    margin-top: rem($nds-spacing-medium);
  }

  a {
    color: $nds-colour-link;
    font-weight: normal;
    text-decoration: underline;

    &:hover {
      color: $nds-colour-link-hover;
    }

    &:visited {
      color: $nds-colour-link-visited;
    }
  }

  p {
    max-width: 66ch;
  }

  ul {
    @include nds-list;
    list-style: none !important;
    margin-left: 0;
    max-width: none; // To override max-width of 66ch set on lists
    padding: 0;
  }

  li {
    margin-left: 0;
  }
}
