/* stylelint-disable no-descending-specificity */

@import '../../header-settings';
@import '../../../Common.module.scss';
@import '../Nav.module.scss';

.menuList {
  @extend .menuList;
}

a.link,
button.link {
  @extend .linkStyling;
}

.dropdown {
  background-color: $nds-colour-nice-grey-3;
  box-shadow: 0 rem($nds-spacing-small) rem($nds-spacing-small) 0
    rgb(0 0 0 / 10%);
  display: none;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;

  &.active {
    display: block;
  }
}
