@import '~@nice-digital/nds-core/scss/core';

.banner {
  background: $nds-colour-nice-grey-3;
  border-bottom: 1px solid $nds-colour-border;
  padding: rem($nds-spacing-medium 0);
  text-align: left;
}

.container {
  @include nds-container;
}

.heading {
  @include font(h5);
  font-weight: bold;
  margin-top: 0;
}

.message {
  @include p;

  a {
    @include link-default;
  }
}

.button {
  appearance: none;
  background: $nds-colour-btn-primary;
  border: em(1) solid $nds-colour-btn-primary-text;
  border-radius: 0;
  color: $nds-colour-btn-primary-text;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: em($nds-spacing-small $nds-spacing-medium);
  position: relative;
  text-align: left;
  text-decoration: none !important; // sass-lint:disable-line no-important
  vertical-align: top;
  white-space: nowrap;

  &:focus {
    background: $nds-colour-btn-primary;
    border-color: $nds-colour-focus-inverse;
    color: $nds-colour-btn-primary-text;
    outline: 3px solid $nds-colour-focus;
  }
}
