@use 'Header/header-settings';
@use 'styles/global-nav-colours' as *;
@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';

.link .tooltip {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.link:focus-visible .tooltip {
  background: #fff;
  clip: auto;
  color: colours.$link;
  display: block;
  height: auto;
  outline: 1px solid colours.$focus;
  overflow: visible;
  padding: utils.rem(0 spacing.$x-small);
  position: absolute;
  width: auto;
  z-index: header-settings.$base-z-index;
}

.visuallyHidden {
  @include visibility.invisible;
}
