@use 'sass:math';
@use '../../styles/global-nav-colours' as *;
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '../../Common.module.scss';

.wrapper {
  margin: utils.rem(0 0 spacing.$large);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: utils.rem(0 0 spacing.$x-small);
  }
}

@include media-queries.mq($from: sm) {
  .wrapper {
    border-right: 2px solid $services-border;
    float: left;
    padding-right: utils.rem(spacing.$medium);
    width: math.percentage(math.div(1, 3));
  }
}

@include media-queries.mq($from: md) {
  .wrapper {
    border-right: 2px solid $services-border;
    float: left;
    margin: 0;
    width: 25%;
  }
}
