@import '~@nice-digital/nds-core/scss/core';

.wrapper {
  margin: rem(0 0 $spacing-large);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: rem(0 0 $spacing-x-small);
  }
}

@include mq($from: sm) {
  .wrapper {
    border-right: 2px solid $colour-nice-dark-grey;
    float: left;
    width: percentage(1 / 3);
  }
}

@include mq($from: md) {
  .wrapper {
    border-right: 2px solid $colour-nice-dark-grey;
    float: left;
    margin: 0;
    width: 25%;
  }
}
