@import '~@nice-digital/nds-core/scss/core';
@import 'settings';

.footer {
  background: $colour-footer-background;
  box-sizing: border-box;
  color: $colour-footer-text;
  font-family: unquote($nice-font-family-sans);

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  a {
    color: $colour-footer-text;
  }
}
