@import '~@nice-digital/nds-core/scss/core';
@import 'footer-settings';
@import '../Common.module.scss';

.footer {
  @include nds-links-inverse;
  background: $colour-footer-background;
  box-sizing: border-box;
  color: $colour-footer-text;
  contain-intrinsic-size: 350px; /* stylelint-disable-line */
  content-visibility: auto; /* stylelint-disable-line */
  font-family: unquote($nds-font-family-sans);
  margin: rem($nds-spacing-large 0 0 0);

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  a {
    font-weight: normal; // To override Pathways global anchor style
  }
}

.container {
  @include nds-container;
  @include nds-clearfix;
  @include nds-hide-print;
  padding: rem($nds-spacing-medium 0);
}

.logo {
  $logo-width: 80px;
  $logo-aspect-ratio: 512 / 1410;
  display: block;
  height: 0;
  margin: rem(0 0 $nds-spacing-large 0);
  padding: 0;
  padding-bottom: $logo-width * $logo-aspect-ratio; // Aspect ratio of NICE logo SVG
  position: relative;
  width: $logo-width;

  svg {
    display: block;
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
  }
}

@include mq($from: md) {
  .logo {
    margin-bottom: rem($nds-spacing-medium);
  }
}
